.sb-bubble {
    position: relative;
    background: #ffffff;
    border: 2px solid #999999;
    border-radius: .4em;
    padding: .4em 1em;
    max-width: 70%;
}

.sb-bubble:after,
.sb-bubble:before {
    top: 1.2em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}


/* right side bubble */

.sb-bubble-right:before {
    left: 100%;
    border-color: rgba(153, 153, 153, 0);
    border-left-color: #999999;
    border-width: 10px 20px;
    margin-top: -10px;
}

.sb-bubble-right:after {
    left: 100%;
    border-color: rgba(39, 29, 29, 0);
    border-left-color: #ffffff;
    border-width: 10px 20px;
    margin: -10px 0 0 -4.5px;
}


/* left side bubble */

.sb-bubble-left:before {
    right: 100%;
    border-color: rgba(153, 153, 153, 0);
    border-right-color: #999999;
    border-width: 10px 20px;
    margin-top: -10px;
}

.sb-bubble-left:after {
    right: 100%;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 10px 20px;
    margin: -10px -4.5px 0 0;
}


/* icon */

.sb-icon {
    width: 50px;
    height: 50px;
    margin: 0 22px;
    vertical-align: middle;
}

.sb-icon-type-circle {
    object-fit: cover;
    border-radius: 50%;
}

.sb-icon-type-square {
    object-fit: cover;
}

.sb-icon-type-none {
    visibility: hidden
}


/* float */

.sb-icon-left,
.sb-bubble-left {
    float: left;
}

.sb-icon-right,
.sb-bubble-right {
    float: right;
}

.speech-bubble {
    overflow: hidden;
}

.speech-bubble:before,
.speech-bubble:after {
    content: "";
    display: table;
}

.speech-bubble:after {
    clear: both;
}

.speech-bubble p {
    margin: 0;
}